<%= html_tag(:ul) do %>
  <li>
    <%= html_tag(:a) do %>
      A
      <span>1</span>
    <% end %>
  </li>
  <li>
    <%= html_tag(:a) do %>
      B
      <span>2</span>
    <% end %>
  </li>
  <li>
    <%= html_tag(:a) do %>
      C
      <span>3</span>
    <% end %>
  </li>
<% end %>
